body {
  font-family: Roboto, sans-serif;

  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #F9FAF8;
}

.container {
  padding: 0 17vw;
}

/* Header Style */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 84px;

  background-color: #1F2937;
}

.header .title {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

.header .links {
  display: flex;
  gap: 24px;

  padding: 0;
  margin: 0;
}

.header li {
  list-style-type: none;
}

.header a:hover {
  color: #ddd;
}

/* Hero Style */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  height: 100vh;
  margin-top: -84px;

  background-color: #1F2937;
  color: #F9FAF8;
}

.hero .content {
  padding-right: 16px;
}

.hero .primary {
  font-size: 48px;
  font-weight: 900;
}

.hero .secondary {
  font-size: 18px;
  color: #E5E7EB;
}

.hero .link-button {
  margin-top: 48px;

  flex: none;

  width: 128px;
  height: 48px;

  background-color: #3882F6;
  border-radius: 12px;
  
  font-weight: bold;
}

.hero .link-button a {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.hero .link-button:hover {
  background-color: #3371d6;
}

.hero .image {
  margin-top: 84px;
  color: #E5E7EB;
}

.hero .image a {
  text-decoration: underline;
}

.hero .image img {
  height: 800px;
  width: auto;
}

/* Information Style */

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 96px;
  padding-bottom: 96px;

  color: #1F2937;
  text-align: center;
}

.info .title {
  font-size: 36px;
  font-weight: 900;
}

.info .content {
  display: flex;
  justify-content: space-between;

  padding: 0;
  margin: 0;
}

.info .item {
  flex: auto;
  list-style-type: none;

  padding: 16px;
}

.info img {
  border-radius: 12px;
  border: solid #3882F6;

  object-fit: cover;
}

/* Quote Style */

.quote {
  background-color: #E5E7EB;
  color: #1F2937;

  padding: 128px calc(17vw + 84px);
}

.quote .content {
  font-size: 36px;
  font-style: italic;
}

.quote .author {
  text-align: right;
}

/* Call to Action Style */

.cta {
  background-color: #3882F6;
  color: #F9FAF8;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 72px 0;
  padding: 32px 128px;

  border-radius: 24px;
}

.cta .text {
  padding-right: 72px;
}

.cta .primary {
  margin: 8px 0;
}

.cta .secondary {
  margin: 8px 0;
}

.cta .link-button {
  flex: none;

  border: solid #F9FAF8;
  border-radius: 12px;
}

.cta .link-button a {
  display: flex;

  justify-content: center;
  align-items: center;

  padding: 8px 21px;
}

.cta .link-button:hover {
  background-color: #00000011;
}
